@model CareerCraft.Web.Models.SkillViewModel

@{
    ViewData["Title"] = "Supprimer la compétence";
}

<h1>@ViewData["Title"]</h1>

<h3>Êtes-vous sûr de vouloir supprimer cette compétence ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level) / 5
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Supprimer définitivement</button>
        <a asp-action="Index" class="btn btn-secondary">Annuler</a>
    </form>
</div>
